@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.css';

html{
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}
  .floating-blur {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(217, 3, 3, 0.3);
    filter: blur(50px);
    border-radius: 50%;
    z-index: -1;
  }